*{
    box-sizing: border-box;
}

.locs-container {
    background-color: var(--bg2);
    padding: 1.2em;
    min-height: 100vh;
}

.loc-list {
    list-style: none;
    padding: 0;
}

.loc-list li {
    padding-bottom: .2em;
    border-bottom: 1px solid var(--color1);
}

h3{
    font-size: 1.8em;
    margin: .5em 0em;
}

.loc-list li h4 {
    display: flex;
    justify-content: space-between;
}

.loc-list li.active {
    color: var(--color3);
}

.loc-list li.active .muted {
    color: var(--color4);
}

.loc-btns {
    text-align: end;
    margin-bottom: 15px;
}

.map {
    width: 100%;
    height: 100%;
}

.btn-user-pos {
    background-color: var(--color1);
    background-image: url(../../img/user-loc.png);
    background-size: cover;
    width: 1.8em;
    height: 1.8em;
}

.btn-user-pos:hover {
    background-color: whitesmoke;
}

.loc-filter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    background-color: var(--bg1);
    padding: 10px;
    border-radius: 0.5rem;
}

.loc-filter input{
    border-radius: 0.3rem;
}

.loc-filter input[type]{
    padding-inline-start: 5px;
}

.loc-filter input[type=text] {
    line-height: 2.3em;
    border-radius: .3em;
    padding-left: .6em;
    width: 98%;
    margin-bottom: .5em;
}

.accent{
    accent-color: var(--color2);
}

.pie {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    /* background-image: conic-gradient(orange 0%, orange 64%, blue 64%, blue 81%, black 81%, black 100%); */
}

.loc-stats ul {
    list-style-type: none;
    display: inline-block;
    text-transform: capitalize;
}

.loc-stats .pie-label {
    display: inline-block;
    background-color: black;
    width: 1em;
    height: 1em;
    margin-inline-end: 0.3em;
}

.charts{
    display: flex;
}